<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ttt_logo_icon"
        android:label="Ttt."
        android:roundIcon="@mipmap/ttt_logo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FE"
        tools:targetApi="31">

        <activity
            android:name=".BookDetail.BookDetailActivity"
            android:exported="false" />
        <activity
            android:name=".BookLetter.LetterActivity"
            android:exported="false" />
        <activity
            android:name=".BookclubBookReview"
            android:exported="true" />
        <activity
            android:name=".BookclubJoin"
            android:exported="true" />
        <activity
            android:name=".MyPageWriteReview"
            android:exported="true" />
        <activity
            android:name=".Setting"
            android:exported="true" />
        <activity          
            android:name=".Preference.Preference4"
            android:exported="false" />
        <activity
            android:name=".Preference.Preference_complete"
            android:exported="false" />
        <activity
            android:name=".Preference.Preference3"
            android:exported="false" />
        <activity
            android:name=".Preference.Preference2"
            android:exported="false" />
        <activity
            android:name=".Preference.Preference"
            android:exported="true" />
        <activity
            android:name=".Login.PasswordResetActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp.SignUpComplete"
            android:exported="false" />
        <activity
            android:name=".SignUp.SignUpName"
            android:exported="false" />
        <activity
            android:name=".SignUp.SignUpPW"
            android:exported="false" />
        <activity
            android:name=".SignUp.SignUpID"
            android:exported="false" />
        <activity
            android:name=".Login.Login"
            android:exported="false" />
        <activity
            android:name=".SignUp.TermsofUse"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.SearchMainActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".bookclub_place.BookclubPlaceSearchActivity"
            android:windowSoftInputMode="adjustPan" />


    </application>

</manifest>